
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base styles */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #F3F4F6; /* Light gray background */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default button styles */
button {
  all: unset;
  cursor: pointer;
}

/* Keep autofill styles */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f8fafc inset !important;
  -webkit-text-fill-color: #000 !important;
}